:root {
    --bg-color: floralwhite;
    --bg-card: lightgoldenrodyellow;
    --shadow: 
        0 2px 4px rgba(0, 0, 0, 0.05), 
        0 4px 8px rgba(0, 0, 0, 0.05), 
        0 8px 16px rgba(0, 0, 0, 0.05),
        0 16px 32px rgba(0, 0, 0, 0.05);
    --shadow-hover: 
        0 0 4px rgba(0,0,0,0.15), 
        0 4px 8px rgba(0,0,0,0.15), 
        0 8px 16px rgba(0,0,0,0.15),
        0 4px 32px rgba(0,0,0,0.15);
}

* {
    box-sizing: border-box;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale;
}

// body {
//     color: var(--body-color);
//     transition: color 0.6s, background-color 0.6s;
//     margin: 0;
//     padding: 0;
//     line-height: 1.5;
//     *:active {
//         border: none !important;
//     }
//     *:focus {
//         outline: none !important;
//     }
// }
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
img[src*="#thumbnail"] {
    width:150px;
    height:100px;
}
img[src*="#full-width"] { 
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


.lang-heb {
    font-family: Allotrope;
}

.list__no-style {
    ul {
        list-style: none;
    }
    li {
        display: inline;
        padding-inline-end: 0.5rem;
    }
}
hr {
    margin: 1rem 0;
    border: 0;
    height: 0.0625rem;
    background-color: #1a1a1a;
}
