* {
    margin: 0;
    padding: 0;
}
body {
    background-color: floralwhite;
}
img{
    max-width: 100%;
    height: auto;
}

.lang-heb{
    font-family: Allotrope;
}

.list__no-style{
    ul{
        list-style: none;
    }
    li{
        display: inline;
        padding-inline-end: 8px;
      }
      
}
hr {
    margin: 16px 0;
    border: 0;
    height: 0.0625rem;
    background-color: #1a1a1a;
}

