@font-face {
    font-family: Allotrope;
    src: url("../assets/fonts/Allotrope.ttf");
    font-weight: normal;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.lang-heb{
    font-family: Allotrope;
}
h1,
.nav__link {
    color: navy;
}
.nav__link {
    margin-left: 20px;
}
