$page-width-sm: 400px;
$page-width-md: 760px;

.layout {
    max-width: $page-width-md;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    @media (max-width: $page-width-sm) {
        padding-left: 1rem;
        padding-right: 1rem;        
    }
}
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $page-width-md;
    margin: 20px auto;
    padding-left: 2rem;
    padding-right: 2rem;        
    @media (max-width: $page-width-sm) {
        padding-left: 1rem;
        padding-right: 1rem;        
    }
}
